// ==========================================================================
// DS Sidebar Component Styles
// ==========================================================================

@use 'utils/variables' as *;

.ds-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;

  ui-nav {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $spacing-1 $spacing-2;
  }

  &__search {
    padding: $spacing-4 $spacing-4 $spacing-2 $spacing-4;
  }
}
